@use "./../../../../styles";

.button {
  border-radius: styles.$border-radius-s;
  border: none;
  padding: styles.$size-xxxxs styles.$size-xs;
  transition: styles.$basic-transition;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: styles.$size-xxxs;
  cursor: pointer;
  position: relative;
  min-width: 7rem;
  &:focus {
    outline: none;
  }
  & {
    -webkit-tap-highlight-color: transparent;
  }
  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }

  &:focus {
    outline: none;
  }
}

.iconOnly {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: styles.$size-xxl;
  transition: styles.$basic-transition;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }
}

.navIcon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: styles.$size-xxl;
  padding: styles.$size-xxxs;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }
}

.basicGrayBtn {
  background-color: styles.$background-btn-primary;
  color: styles.$text-primary;
  &:hover,
  &:active {
    background-color: styles.$background-btn-primary--hover;
  }
}

.basicLightIcon {
  color: styles.$icon-light;
  &:hover,
  &:active {
    color: styles.$icon-light--hover;
  }
}

.basicDarkIcon {
  color: styles.$icon-dark;
  &:hover,
  &:active {
    color: styles.$icon-dark--hover;
  }
}

.greenBtn {
  background-color: styles.$background-btn-green;
  color: styles.$text-primary;
  &:hover,
  &:active {
    background-color: styles.$background-btn-green--hover;
  }
}

.redBtn {
  background-color: styles.$background-btn-red;
  color: styles.$text-primary;
  &:hover,
  &:active {
    background-color: styles.$background-btn-red--hover;
  }
}

.lightBtn {
  background-color: styles.$background-btn-secondary;
  color: styles.$text-secondary;
  &:hover,
  &:active {
    background-color: styles.$background-btn-secondary--hover;
  }
}

.button.disabled {
  cursor: default;
  background-color: styles.$background-btn-disabled;
}

.smallBtn {
  min-width: 0 !important;
}

.bigBtn {
  min-width: 10rem;
}

.fixedHeight {
  height: styles.$size-xxl;
}

.flexStretch {
  flex: 1;
}
