@import "./../../../../styles/variables.module.scss";

.button {
  border-radius: $size-xxxxs;
  border: none;
  padding: $size-xxxxs $size-xs;
  background-color: $main-gray;
  color: $main-white;
  transition: $basic-transition;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  gap: $size-xxxs;
  cursor: pointer;
  position: relative;
  justify-content: center;
  // flex: 1;
  min-width: 7rem;
  // height: $size-xxxxl;
  &:hover,
  &:active {
    background-color: $main-gray-light;
  }
  &:focus {
    outline: none;
  }
}

.greenBtn {
  background-color: $action-green;
  &:hover {
    background-color: $action-light-green;
  }
}

.redBtn {
  background-color: $error-red;
  &:hover {
    background-color: $cancel-red;
  }
}

.lightBtn {
  background-color: $main-white;
  color: $main-black;
  &:hover {
    background-color: $main-white;
  }
}

.smallBtn {
  min-width: 0 !important;
}

.button.disabled {
  cursor: default;
  background-color: $main-gray-light;
  &:hover {
    background-color: $main-gray-light;
  }
}

.fixedHeight {
  height: $size-xxl;
}

.flexHeight {
  flex: 1;
}
