@import "./../../../../styles/variables.module.scss";

.button {
  border-radius: $border-radius-s;
  border: none;
  padding: $size-xxxxs $size-xs;
  transition: $basic-transition;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $size-xxxs;
  cursor: pointer;
  position: relative;
  min-width: 7rem;
  &:focus {
    outline: none;
  }
  & {
    -webkit-tap-highlight-color: transparent;
  }
  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }

  &:focus {
    outline: none;
  }
}

.iconOnly {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: $size-xxl;
  transition: $basic-transition;

  &:focus {
    outline: none;
  }
  & {
    -webkit-tap-highlight-color: transparent;
  }
  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }
}

.navIcon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: $size-xxl;
  padding: $size-xxxs;
  &:focus {
    outline: none;
  }
  & {
    -webkit-tap-highlight-color: transparent;
  }
  &:active {
    outline: none;
    box-shadow: none; /* Removes any shadow styling on active */
  }
}

.basicGrayBtn {
  background-color: $background-btn-primary;
  color: $text-primary;
  &:hover,
  &:active {
    background-color: $background-btn-primary--hover;
  }
}

.basicLightIcon {
  color: $icon-light;
  &:hover,
  &:active {
    color: $icon-light--hover;
  }
}

.basicDarkIcon {
  color: $icon-dark;
  &:hover,
  &:active {
    color: $icon-dark--hover;
  }
}

.greenBtn {
  background-color: $background-btn-green;
  color: $text-primary;
  &:hover,
  &:active {
    background-color: $background-btn-green--hover;
  }
}

.redBtn {
  background-color: $background-btn-red;
  color: $text-primary;
  &:hover,
  &:active {
    background-color: $background-btn-red--hover;
  }
}

.lightBtn {
  background-color: $background-btn-secondary;
  color: $text-secondary;
  &:hover,
  &:active {
    background-color: $background-btn-secondary--hover;
  }
}

.button.disabled {
  cursor: default;
  background-color: $background-btn-disabled;
}

.smallBtn {
  min-width: 0 !important;
}

.bigBtn {
  min-width: 10rem;
}

.fixedHeight {
  height: $size-xxl;
}

.flexStretch {
  flex: 1;
}
