@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-dark;
  opacity: 1;
  transition: opacity 1s;
  z-index: 100;
  cursor: pointer;

  .overlayContainer {
    cursor: default;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    gap: $size-m;
    padding: $size-xl $size-xl;
    background-color: $overlay-dark;
    border-radius: $border-radius-m;
    border: 2px solid $main-gray;

    .closeBtn {
      position: absolute;
      top: $size-s;
      right: $size-xxs;
    }

    .imageContainer {
      // THIS IS SOOOOO IMPORTANT IF YOU HAVE PROBLEM WITH IMAGE OVERFLOWING FLEX AREA
      min-height: 0;
      max-width: 95%;
      display: flex;
      border: 2px solid $main-gray;
      position: relative;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $main-white;

      h3 {
        cursor: text;
        font-size: $size-m;
        text-align: center;
      }
      p {
        cursor: text;
        font-size: $size-xs;
        text-align: center;
      }
    }
  }
}
