@import "../../../../styles/variables.module.scss";

.bioGallery {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: $size-xxxxs;
  margin: $size-xxxxs;
  border-top-left-radius: $size-xxxs;
  border-bottom-left-radius: $size-xxxs;
}
