@import "../../../../styles/variables.module.scss";

// .activeEditButton {
//   background-color: $cancel-red;
// }

// .saveButton {
//   background-color: $action-green;
// }
// .saveButton:hover {
//   background-color: $action-light-green;
// }

.buttonsContainer {
  display: flex;
  width: 30%;
  gap: $size-xxxxs;
}
