@import "../../../../styles/variables.module.scss";

.spinner {
  z-index: 222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  filter: $main-white--filter;
  // animation: rotate 2s linear infinite;

  // @keyframes rotate {
  //   0% {
  //     transform: rotate(0deg);
  //   }
  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }
}
