@import "../../../styles/variables.module.scss";

.adminContainer {
  background-color: $main-light-gray;
  padding: $size-xxl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
