@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.contactSection {
  background-color: $main-light-gray;
  padding: $size-xxl;
  .gridContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: $main-content-width;
    margin: 0 auto;
    background-color: $main-white;
    box-shadow: 0 1rem 3rem $medium-shadow;
    border-radius: $border-radius-m;

    @include respond-to(large-desktop) {
    }

    @include respond-to(medium-desktop) {
      width: 100%;
      border-radius: 0;
    }
    @include respond-to(medium-small-desktop) {
      padding: 0;
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to(small-desktop) {
      grid-template-columns: 10fr 11fr;
    }

    @include respond-to(tablet) {
      grid-template-columns: 3fr 2fr;
    }

    @include respond-to(small-tablet) {
      grid-template-columns: 1fr;
    }
  }
  @include respond-to(large-desktop) {
    padding: $size-xxl 0;
    border-radius: 0;
  }
}
