@use "../../../styles";

.defaultVisibility {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.backgroundLight {
  background-color: styles.$background-tertiary;
}

.backgroundDark {
  background-color: styles.$background-dark;
  color: styles.$text-primary;
}

.loadingStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  .spinner {
    animation: spin 1.5s linear infinite;
    font-size: styles.$size-xxxxl;
  }
}

.spinnerOnly {
  animation: spin 1.5s linear infinite;
}

.containerSize {
  position: absolute;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4000;
  pointer-events: none;
}

.fadeOut {
  opacity: 0;
}

.displayNone {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sizeXl {
  font-size: styles.$size-xl;
}

.sizeL {
  font-size: styles.$size-l;
}

.sizeM {
  font-size: styles.$size-m;
}

.sizeS {
  font-size: styles.$size-s;
}
