@import "../../../styles/variables.module.scss";

.defaultVisibility {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.backgroundLight {
  background-color: $main-gray-light;
}

.backgroundDark {
  background-color: $main-black;
  color: $main-white;
}

.loadingStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  .spinner {
    animation: spin 1.5s linear infinite;
    font-size: $size-xxxxl;
  }
}

.spinnerOnly {
  animation: spin 1.5s linear infinite;
}

.containerSize {
  position: absolute;
}

.fullscreen {
  position: fixed;
}

.fadeOut {
  opacity: 0;
}

.displayNone {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sizeXl {
  font-size: $size-xl;
}

.sizeL {
  font-size: $size-l;
}

.sizeM {
  font-size: $size-m;
}

.sizeS {
  font-size: $size-s;
}
