@import "../../../../styles//variables.module.scss";

.desktopNav {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  padding: $size-xxxxs $size-m;
  background-color: $background-nav;
  opacity: 0;
  transition: opacity 1s;
  z-index: 100;
}

.topNav {
  position: absolute;
  box-shadow: $shadow-nav;
}
.fixedNav {
  position: fixed;
}

.showNav {
  opacity: 1;
}
