@import "../../../../styles/variables.module.scss";

.inspectorContainer {
  position: relative;
  min-height: $size-giant;
  .actionBtn {
    position: absolute;
    top: $size-xxxxs;
    right: $size-xxxxs;
  }
}
