@use "../../../../styles";

.inspectorContainer {
  position: relative;
  min-height: styles.$size-giant;
  .actionBtn {
    position: absolute;
    top: styles.$size-xxxxs;
    right: styles.$size-xxxxs;
  }
}
