@use "../../../../styles";

.pageSectionContainer {
  border-radius: styles.$border-radius-m;
  max-width: styles.$main-content-width;

  .contentContainer {
    display: flex; // align-items: center;
    justify-content: center;
    .header {
      margin-bottom: styles.$size-l;
    }

    .content {
      display: flex;
      flex-direction: column;
    }
    .contentCenter {
      align-items: center;
    }
  }

  .textAlignCenter {
    text-align: center;
  }

  .textAlignLeft {
    text-align: left;
  }

  .textAlignRight {
    text-align: right;
  }

  .textAlignJustify {
    text-align: justify;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .mozaicOverflow {
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 3%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 97%
    );
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 3%,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 97%
    );
    -webkit-mask-composite: source-in;
  }

  .flex70 {
    flex: 2 1 70%;
  }

  .flex60 {
    flex: 1 1 60%;
  }

  .flex50 {
    flex: 1 1 50%;
  }

  .flex40 {
    flex: 1 1 40%;
  }

  .flex30 {
    flex: 1 1 30%;
  }
}

.paddingXL {
  padding: styles.$size-xxxxl 0;
}

.paddingL {
  padding: styles.$size-xxl 0;
}

.paddingM {
  padding: styles.$size-l 0;
}

.paddingS {
  padding: styles.$size-s 0;
}

.paddingXS {
  padding: styles.$size-xxxs 0;
}

.sectionPaddingM {
  padding: styles.$size-xxxl;
}

.sectionPaddingS {
  padding: styles.$size-m;
}

.marginL {
  margin: styles.$size-giant auto;
}

.marginM {
  margin: styles.$size-l auto;
}

.marginS {
  margin: styles.$size-s auto;
}

.cardStyle {
  box-shadow: 0 0rem 2rem styles.$card-shadow-primary;
}

.gapL {
  gap: styles.$size-xxl;
}

.gapM {
  gap: styles.$size-m;
}

.gapS {
  gap: styles.$size-xxs;
}

.gapXS {
  gap: styles.$size-tiny;
}

.grid41 {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.grid31 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid21 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fontXXL {
  font-size: styles.$size-xxl;
}

.fontXL {
  font-size: styles.$size-xl;
}

.fontL {
  font-size: styles.$size-l;
}

.fontM {
  font-size: styles.$size-m;
}

.fontS {
  font-size: styles.$size-s;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRowReversed {
  display: flex;
  flex-direction: row-reverse;
}

.flexColumnReversed {
  display: flex;
  flex-direction: column-reverse;
}
