@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";
.container {
  @extend .adminSectionContainer;
  align-items: start;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: $size-xxs;
    align-items: start;
    .error {
      color: $common-red;
      font-size: $size-xs;
    }
  }
  .gridContainer {
    box-shadow: $shadow-inset-primary;
    padding: $size-xxs;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: $size-xxs;
    img {
      max-height: $size-giant;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}
