@use "../../../../styles";

.container {
  @include styles.adminSectionContainer;
  align-items: start;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: styles.$size-xxs;
    align-items: start;
    .error {
      color: styles.$common-red;
      font-size: styles.$size-xs;
    }
  }
  .gridContainer {
    box-shadow: styles.$shadow-inset-primary;
    padding: styles.$size-xxs;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: styles.$size-xxs;
    img {
      max-height: styles.$size-giant;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}
