@use "../../../../styles";

.adminStartContainer {
  display: flex;
  flex-direction: column;
  gap: styles.$size-s;
  align-items: center;
  justify-content: center;
  padding: 0 styles.$size-l styles.$size-l;
  height: 80vh;

  .heroImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
    overflow: hidden;
  }

  h2 {
    font-size: styles.$size-l;
  }

  p {
    font-size: styles.$size-s;
  }
}
