@import "./../../../../styles/variables.module.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid $main-medium-light-gray;
  padding: $size-l;
  margin-bottom: $size-l;
  background-color: $main-light-gray;
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: $size-xxs;

    button {
      cursor: pointer;
      padding: $size-xxxxs;
      width: auto;
      align-self: start;
      min-width: calc($size-xxxxl * 1.5);
      border-radius: $border-radius-m;
      border: 1px solid $main-medium-light-gray;
    }
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $size-xxs;
  }
}
