@import "../../../../styles/variables.module.scss";

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 3s;
  color: $main-white;

  .logoImage {
    width: 25%;
    border-radius: $border-radius-s;
    box-shadow: 2px 0px 10px $white-shadow;
    margin-bottom: $size-xl;
  }

  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: $size-xxl;
    text-align: center;
    text-wrap: nowrap;
  }

  h2 {
    font-size: $size-l;
    font-weight: 400;
  }
}

.show {
  opacity: 1;
}
