@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-s;
  transition: opacity 3s;
  color: $main-white;
  margin-top: $size-xxl;

  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: $size-xxxl;
    text-align: center;
    text-wrap: nowrap;

    @include respond-to(medium-desktop) {
      font-size: $size-xxl;
    }

    @include respond-to(small-desktop) {
      font-size: calc($size-xl * 1.1);
    }

    @include respond-to(tablet) {
      font-size: calc($size-xl * 0.9);
    }

    @include respond-to(small-tablet) {
      font-size: calc($size-xl * 0.75);
    }

    @include respond-to(mobile) {
      font-size: calc($size-xl * 0.5);
    }
  }

  h2 {
    font-size: $size-l;
    font-weight: 400;
    @include respond-to(medium-desktop) {
      font-size: $size-m;
    }

    @include respond-to(small-tablet) {
      font-size: $size-s;
    }

    @include respond-to(mobile) {
      font-size: $size-xs;
    }
  }

  @include respond-to(tablet) {
    margin-top: 0;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
