@import "../../../../styles/variables.module.scss";

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;

  .logoImage {
    width: 25%;
    border-radius: $border-radius-s;
    box-shadow: 2px 0px 10px $white-shadow;
    margin-bottom: $size-xl;
  }

  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: normal;
    font-size: $size-xxl;
    color: $main-white;
    text-align: center;
    text-wrap: nowrap;
  }

  h2 {
    color: $main-white;
    font-size: $size-l;
    font-weight: 400;
  }
}
