.tileContainer {
  width: auto;
  height: 100%;
  position: relative;

  // .spinner {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  // transform: translate(-50%, -50%);
  // }
  img {
    opacity: 0;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.imgLoaded {
  img {
    opacity: 1;
  }
}
