@import "../../../../styles/variables.module.scss";

.paralax {
  min-height: $parallax-height;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  justify-content: center;

  background-position: 100% calc(40% + 50px);
  h2 {
    color: $main-white;
    font-size: 17rem;
    mix-blend-mode: difference;
    z-index: 3;
  }
}
