@use "../../../../styles";

.heroSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -50;
  background-color: styles.$text-secondary;

  .headingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: styles.$size-s;
      opacity: 1;
      transition: opacity 3s;
      color: styles.$text-primary;
      margin-top: styles.$size-xxl;

      h1 {
        font-family: "Dancing Script", cursive;
        font-weight: 400;
        font-size: styles.$size-xxxl;
        text-align: center;
        text-wrap: nowrap;
      }

      h2 {
        font-size: styles.$size-l;
        font-weight: 400;
      }
    }
    .hideHeading {
      opacity: 0;
    }

    .showHeading {
      opacity: 1;
    }
  }
}
