@import "../../../../styles/variables.module.scss";

.adminContainer {
  flex: 1;
  .adminNav {
    margin-top: $size-xxxl;
    padding: $size-m;
    gap: $size-xxl;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: $size-l;
      font-size: $size-m;
    }
  }
}

.adminOutletContainer {
  background-color: $background-secondary;
  padding: $size-s $size-s;
  width: $main-content-width;
  margin: 0 auto $size-xxxl;
  border-radius: $border-radius-s;
}
