@use "../../../../styles";

.adminContainer {
  flex: 1;
  .adminNav {
    margin-top: styles.$size-xxxl;
    padding: styles.$size-m;
    gap: styles.$size-xxl;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: styles.$size-l;
      font-size: styles.$size-m;
    }
  }
}

.adminOutletContainer {
  background-color: styles.$background-secondary;
  padding: styles.$size-s styles.$size-s;
  width: styles.$main-content-width;
  margin: 0 auto styles.$size-xxxl;
  border-radius: styles.$border-radius-s;
}
