@use "./../../../../styles";

.container {
  @include styles.adminSectionContainer;
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: styles.$size-xxs;
    align-items: start;

    .error {
      color: styles.$common-red;
      font-size: styles.$size-xs;
    }

    .info {
      font-style: italic;
      color: styles.$common-green;
    }
  }
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: styles.$size-xxs;
  }
}
