@import "./../../../../styles/variables.module.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  border: 1px solid $main-medium-light-gray;
  padding: $size-l;
  gap: $size-xl;
  margin-bottom: $size-l;
  background-color: $main-light-gray;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: $size-xxs;

    .error {
      color: $error-red;
      font-size: $size-xs;
    }

    .info {
      font-style: italic;
      color: $action-green;
    }

    button {
      cursor: pointer;
      padding: $size-xxxxs;
      width: auto;
      align-self: start;
      min-width: calc($size-xxxxl * 1.5);
      border-radius: $border-radius-m;
      border: 1px solid $main-medium-light-gray;
    }
  }
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $size-xxs;
  }
}
