@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

// .parallax {
//   height: $parallax-height;
//   background-attachment: fixed;
//   box-shadow: 0 0 0.6rem 0.2rem #216957;
//   background-repeat: no-repeat;
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// background-position: 100% calc(40% + 50px);

.galleryLinkBackground {
  background-color: $gallery-paralax-background;
  backdrop-filter: blur(4px);
  width: 100%;
  z-index: 15;
  .container {
    max-width: $main-content-width;
    margin: $size-s auto $size-s;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    // justify-content: center;

    .link {
      text-decoration: none;
      font-size: $size-xxl;
      color: $main-white;
      // border-bottom: 2px solid $main-white;
      transition: $link-transition;

      // @include respond-to(tablet) {
      //   font-size: $size-xl;
      // }
      // @include respond-to(mobile) {
      //   font-size: $size-l;
      // }
    }

    .link:hover,
    .link:active {
      color: $action-blue;
      // border-bottom: 2px solid $action-blue;
    }
    // @include respond-to(large-desktop) {
    //   max-width: 100%;
    //   margin-left: $size-giant;
    // }

    // @include respond-to(medium-desktop) {
    //   margin-left: $size-l;
    // }

    // @include respond-to(mobile) {
    //   margin: $size-xs 0 $size-s;
    //   text-align: center;
    // }
  }
}
// }
