@use "../../../../styles";

.galleryLinkBackground {
  background-color: styles.$gallery-parallax-background;
  backdrop-filter: blur(4px);
  width: 100%;
  z-index: 15;
  .container {
    max-width: styles.$main-content-width;
    margin: styles.$size-s auto styles.$size-s;
    display: flex;
    align-items: center;

    .link {
      text-decoration: none;
      font-size: styles.$size-xxl;
      color: styles.$text-primary;
      transition: styles.$link-transition;
    }

    .link:hover,
    .link:active {
      color: styles.$gallery-parallax-link---hover;
    }
    @include styles.respond-to(large-desktop) {
      max-width: 80%;
    }
    @include styles.respond-to(mobile) {
      justify-content: center;
    }
  }
}
