@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.galleryLinkBackground {
  background-color: $gallery-parallax-background;
  backdrop-filter: blur(4px);
  width: 100%;
  z-index: 15;
  .container {
    max-width: $main-content-width;
    margin: $size-s auto $size-s;
    display: flex;
    align-items: center;

    .link {
      text-decoration: none;
      font-size: $size-xxl;
      color: $text-primary;
      transition: $link-transition;
    }

    .link:hover,
    .link:active {
      color: $gallery-parallax-link---hover;
    }
    @include respond-to(large-desktop) {
      max-width: 80%;
    }
    @include respond-to(mobile) {
      justify-content: center;
    }
  }
}
