@use "../../../../styles";

.inputElementContainer {
  display: flex;
  flex-direction: column;
  gap: styles.$size-xxxxs;
  justify-content: center;
  margin: 0 auto;

  .inputElement {
    @include styles.input;
    width: 100%;
  }

  .textArea {
    resize: none;
  }

  .textAlignCenter {
    text-align: center;
  }
  .textAlignLeft {
    text-align: left;
  }

  .hidden {
    display: none;
  }

  .inputFileElement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: styles.$size-xxs;
  }

  .checkboxContainer {
    display: flex;
    gap: styles.$size-xs;
    align-items: center;
    .checkbox {
      width: styles.$size-s;
      height: styles.$size-s;
    }
  }

  .inputError {
    font-size: styles.$size-xs;
    color: styles.$common-red;
    text-align: center;
  }
}

.alignCenter {
  align-items: center;
}

.alignLeft {
  align-items: flex-start;
}

.alignRight {
  align-items: flex-end;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}

.width-S {
  width: 3rem;
}

.width-M {
  width: 5rem;
}

.width-L {
  width: 7rem;
}
