@use "../../../../styles";

.link:link,
.link:visited {
  color: styles.$main-black;
  transition: styles.$link-transition;
  text-decoration: none;
  font-size: styles.$size-l;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: styles.$main-white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: styles.$size-giant;
  max-height: styles.$size-giant;
  filter: styles.$logo-filter;
  flex: 1;
}

.randomFiller {
  padding: styles.$size-s styles.$size-l;
  display: flex;
  justify-content: center;
  align-items: center;
  color: styles.$main-black;
  p {
    font-size: styles.$size-s;
  }
}
