@import "../../../../styles/variables.module.scss";

.link:link,
.link:visited {
  color: $main-black;
  transition: $link-transition;
  text-decoration: none;
  font-size: $size-l;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: $main-white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $size-giant;
  max-height: $size-giant;
  filter: $logo-filter;
  flex: 1;
}

.randomFiller {
  padding: $size-s $size-l;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-black;
  p {
    font-size: $size-s;
  }
}
