@import "../../../../styles/variables.module.scss";

.link:link,
.link:visited {
  color: $main-black;
  transition: $link-transition;
  text-decoration: none;
  font-size: $size-l;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: $main-white;
}

.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  max-width: $size-xxl;
  max-height: $size-xxl;
  // border: $size-xxxxs solid $main-white;
  // flex-grow: 0;
  // height: 100%;
  img {
    width: 100%;
    height: 100%;
    filter: $main-white--filter;
  }
}

.randomFiller {
  padding: $size-s $size-l;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-black;
  p {
    font-size: $size-s;
  }
}
