@import "../../../../styles/variables.module.scss";

.gridContainer {
  width: $main-content-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: $size-xl;
  padding: $size-xxl 0;

  .welcomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $size-l;
    color: $main-black;

    h2 {
      font-size: $size-l;
    }

    p {
      font-size: $size-s;
      line-height: $line-height-l;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: $size-m;
    img {
      height: $size-xxxl;
      width: $size-xxxl;
      filter: $main-black--filter;
      transition: $link-transition;
    }
    img:hover {
      filter: $main-gray--filter;
    }
  }
}
