@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.welcomeContainer {
  width: $main-content-width;
  margin: 0 auto;
  display: flex;

  gap: $size-xl;
  padding: $size-xxl $size-xxl;
  align-items: center;

  @include respond-to(small-desktop) {
    flex-direction: column;
    gap: $size-l;
    padding: $size-xxl $size-l;
  }

  @include respond-to(tablet) {
    padding: $size-l $size-s;
  }

  @include respond-to(mobile) {
    padding: $size-l $size-xxxs;
  }

  .welcomeContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: $size-l;
    color: $main-black;

    h2 {
      font-size: $size-l;
      @include respond-to(small-desktop) {
        font-size: $size-m;
      }
    }

    @include respond-to(medium-small-desktop) {
      gap: $size-m;
    }

    @include respond-to(small-desktop) {
      align-items: center;
    }
  }

  .welcomeGrid {
    flex-basis: 70%;
    @include respond-to(medium-desktop) {
      flex-basis: 100%;
    }

    @include respond-to(medium-small-desktop) {
    }
  }

  .socials {
    img {
      height: $size-xxxl;
      width: $size-xxxl;
      filter: $main-black--filter;
      transition: $link-transition;

      @include respond-to(medium-small-desktop) {
        height: $size-xl;
        width: $size-xl;
      }
    }
    img:hover {
      filter: $main-gray--filter;
    }
  }

  @include respond-to(medium-desktop) {
    width: 100%;
  }
}
