@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.imgBig {
  width: 100%;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/4;
  img {
    height: 100%;
  }
}

.imgSmall {
  width: 100%;
  overflow: hidden;
  grid-column: 2/3;

  img {
    height: 100%;
  }
}
