@use "../../../../styles";

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: styles.$size-l;
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: styles.$size-m;
    height: 100%;
  }
  .successMessage {
    display: flex;
    flex-direction: column;
    gap: styles.$size-m;
    font-size: styles.$size-m;
    color: styles.$common-green;
    text-align: center;
  }
}

.paddingL {
  padding: styles.$size-xl styles.$size-xxl;
}

.paddingS {
  padding: styles.$size-xxxs styles.$size-m;
}

.paddingXS {
  padding: styles.$size-xxxs styles.$size-tiny;
}
