@import "../../../../styles/variables.module.scss";

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: $size-l;
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: $size-m;
    height: 100%;
  }
  .successMessage {
    display: flex;
    flex-direction: column;
    gap: $size-m;
    font-size: $size-m;
    color: $common-green;
    text-align: center;
  }
}

.paddingL {
  padding: $size-xl $size-xxl;
}

.paddingS {
  padding: $size-xxxs $size-m;
}
