@use "../../../../styles";

.navLink {
  color: styles.$text-secondary;
  transition: styles.$link-transition;
  text-decoration: none;
  cursor: pointer;
}

.navLink:hover {
  color: styles.$text-tertiary;
}

.navLinkActive {
  color: styles.$text-tertiary;
  text-decoration: none;
}

.admin {
  color: styles.$common-green;
}

.navLinkMobile {
  cursor: default;
  color: styles.$text-secondary;
  text-decoration: none;
}

.navLinkActiveMobile {
  cursor: default;
  color: styles.$text-secondary;
  text-decoration: none;
}
