@import "../../../styles/variables.module.scss";
@import "../../../styles/classes.module.scss";
.modalWindowBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  z-index: 20;
  cursor: default;

  .modalWindowContainer {
    z-index: 21;
    display: flex;
    flex-direction: column;
    gap: $size-xxxxs;
    background-color: $main-white;
    border-radius: $size-xxxs;
    align-items: center;
    cursor: default;
    .dragArea {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 3rem;
      cursor: move;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 0 $size-xxs;
      font-size: $size-s;
      color: $main-gray;
      .closeBtn {
        cursor: pointer;
        transition: $basic-transition;

        &:hover {
          color: $main-black;
        }
      }
    }
  }
  .widthM {
    width: 35rem;
  }
  .widthL {
    width: 80rem;
  }
}

.blur {
  @extend .backdropBlur;
}
