@use "../../../styles";

.modalWindowBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: styles.$overlay-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  z-index: 20;
  cursor: default;

  .modalWindowContainer {
    z-index: 21;
    display: flex;
    flex-direction: column;
    gap: styles.$size-xxxxs;
    background-color: styles.$background-secondary;
    border-radius: styles.$size-xxxs;
    align-items: center;
    cursor: default;
    .dragArea {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 3rem;
      cursor: move;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 0 styles.$size-xxs;
      font-size: styles.$size-s;
      color: styles.$text-tertiary;
      .closeBtn {
        cursor: pointer;
        transition: styles.$basic-transition;

        &:hover {
          color: styles.$text-secondary;
        }
      }
    }
  }
  .widthM {
    width: 35rem;
  }
  .widthL {
    width: 80rem;
  }
}

.blur {
  @extend .backdropBlur;
}
