@import "../../../../styles//variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.fixedNav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  padding: $size-xxxxs $size-m;
  background-color: $main-white;
  box-shadow: 2px 0px 10px $dark-shadow;
  opacity: 0;
  transition: opacity 1s;
  z-index: 100;
  font-size: $size-xxxxs;
  .logo {
    opacity: 0;
    height: 0;
  }

  @include respond-to(medium-desktop) {
    padding: $size-xxxxs $size-s;
  }

  @include respond-to(small-desktop) {
    padding: $size-xxxxs $size-xs;
  }
}

.showNav {
  opacity: 1;
}
