@use "../../../../styles";

.galleryPage {
  display: flex;
  gap: styles.$size-xxxs;
  background-color: styles.$main-black;
  padding: styles.$size-giant styles.$size-l styles.$size-xl;
  img {
    min-height: styles.$size-xxxl;
  }
  .galleryLogo {
    position: absolute;
    top: styles.$size-s;
    left: styles.$size-s;
    opacity: 1;
    transition: styles.$basic-transition-slow;

    @include styles.respond-to(small-tablet) {
      top: styles.$size-xs;
      left: styles.$size-xxs;
    }
  }

  .hideLogo {
    opacity: 0.1;
  }
  .overlay {
    opacity: 0;
    transition: styles.$basic-transition;
  }
  .showOverlay {
    opacity: 1;
  }
}

@include styles.respond-to(small-tablet) {
  .galleryPage {
    padding: styles.$size-giant styles.$size-xxxxs styles.$size-m;
  }
}
