@use "../../../../styles";

.galleryPage {
  display: flex;
  gap: styles.$size-xxxs;
  background-color: styles.$main-black;
  padding: styles.$size-giant styles.$size-l styles.$size-xl;
  min-height: 100vh;
  img {
    min-height: styles.$size-xxxl;
  }
}
