@use "../../../../styles";

.uiContainer {
  color: styles.$main-black;

  .refDiv {
    position: "absolute";
    top: "100vh";
  }

  p {
    font-size: styles.$size-s;
    line-height: styles.$line-height-l;
  }
}
