@import "../../../../styles/variables.module.scss";

.background {
  background-color: $main-light-gray;
  padding: $size-xxxl;
  .gridContainer {
    background-color: $main-white;
    width: $main-content-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 0 auto;
    box-shadow: 0 0rem 5rem $dark-shadow;
    border-radius: $border-radius-m;

    .bioContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $size-l;
      padding: $size-xxl;
      color: $main-black;

      h2 {
        font-size: $size-l;
      }

      p {
        font-size: $size-s;
        line-height: $line-height-l;
      }
    }
  }
}
