@use "./../../../../styles";

.editorContainer {
  @include styles.adminMainContainer;
  .editorForm {
    border: 1px solid styles.$text-primary;
    padding: styles.$size-l;
    gap: styles.$size-xl;
    background-color: styles.$background-secondary;
    border-radius: styles.$border-radius-s;
    display: flex;
    flex-direction: column;
    gap: styles.$size-xxs;
  }
}
