@import "./../../../../styles/variables.module.scss";
@import "./../../../../styles/classes.module.scss";

.editorContainer {
  @extend .adminMainContainer;
  .editorForm {
    border: 1px solid $text-primary;
    padding: $size-l;
    gap: $size-xl;
    background-color: $background-secondary;
    border-radius: $border-radius-s;
    display: flex;
    flex-direction: column;
    gap: $size-xxs;
  }
}
