@use "../../../../styles";

.menuBtn {
  position: fixed;
  top: styles.$size-xxxxs;
  right: styles.$size-xxxxs;
  mix-blend-mode: difference;
  z-index: 99;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: styles.$background-mobile-nav;
  backdrop-filter: blur(styles.$size-xs);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: styles.$size-l;
  padding-left: styles.$size-m;
  transition: transform 0.5s ease-out;

  .closeBtn {
    position: absolute;
    top: styles.$size-xxs;
    right: styles.$size-xxs;
    font-size: styles.$size-m;
  }
}

.mobileNavOpen {
  transform: translateX(0);
}

.mobileNavClose {
  transform: translateX(100%);
}
