@use "../../../../styles";

.modalWindow {
  @include styles.modalWindowContent;
  gap: styles.$size-s;
  padding: styles.$size-xl styles.$size-xxl;
  width: 100%;
  position: relative;
  .infoContainer {
    flex: 0;
    max-height: 60vh;
    overflow-x: auto;
    scrollbar-width: thin;
    .infoTextContainer {
      display: flex;
      gap: styles.$size-s;
      border-bottom: 2px dotted styles.$text-tertiary;
      width: 100%;
      justify-content: space-between;
    }
  }
}
