@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/mixins.module.scss";

.grid12 {
  display: grid;
  gap: $size-xxxxs;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  .imgXlL {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  @include respond-to(small-desktop) {
    gap: calc($size-xxxxs * 0.5);
  }
}
