@import "../../../../styles/variables.module.scss";

.galleryColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $size-xxxs;

  .filler {
    flex: 1;
    background-color: $background-tertiary;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
