@use "../../../../styles";

.galleryColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: styles.$size-xxxs;

  .filler {
    flex: 1;
    background-color: styles.$background-tertiary;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
