@import "../../../../styles/variables.module.scss";

.galleryColumn {
  display: flex;
  flex-direction: column;
  gap: $size-xxxs;
  .fillDiv {
    flex: 1;
    // height: 100%;
    // width: 100%;
    background-color: $main-gray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    border-radius: $border-radius-xs;
  }
}
