.heroContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -50;
  opacity: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#09201fd7, #472c0d86);
    z-index: 30;
  }
  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -50;
  }
}
