@use "../../../../styles";

.desktopNav {
  display: flex;
  list-style: none;
  gap: styles.$size-xl;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-inline-start: 0;
  font-size: styles.$size-l;

  @include styles.respond-to(small-desktop) {
    font-size: styles.$size-m;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: styles.$size-xl;
  list-style: none;
  align-items: flex-start;
  padding-left: 0;
  font-size: styles.$size-m;
  width: 100%;
}
