@import "../../../../styles/variables.module.scss";

.contactSection {
  background-color: $main-light-gray;
  padding: $size-xxl;
  .gridContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: $main-content-width;
    margin: 0 auto;
    background-color: $main-white;
    box-shadow: 0 1rem 3rem $medium-shadow;
    border-radius: $border-radius-m;
  }
}
