@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.desktopNav {
  display: flex;
  list-style: none;
  gap: $size-xl;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-inline-start: 0;
  font-size: $size-l;
  .navLink {
    color: $main-black;
    transition: $link-transition;
    text-decoration: none;
    cursor: pointer;
  }

  .navLink:hover {
    color: $main-gray;
  }

  .navLinkActive {
    color: $main-gray;
    text-decoration: none;
  }

  .admin {
    color: $action-green;
  }

  @include respond-to(medium-desktop) {
    font-size: $size-m;
    gap: calc($size-xl * 0.8);
  }
  @include respond-to(small-desktop) {
    gap: $size-m;
    font-size: $size-s;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: $size-s;

  img {
    height: $size-xl;
    width: $size-xl;
    filter: $main-black--filter;
  }

  img:hover {
    filter: $main-gray--filter !important;
  }

  @include respond-to(small-desktop) {
    gap: $size-xs;
    img {
      height: $size-l;
      width: $size-l;
    }
  }
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: $size-l;
  list-style: none;
  align-items: flex-start;
  padding-left: 0;
  font-size: $size-m;

  .navLink {
    cursor: default;
    color: $main-black;
    text-decoration: none;
  }

  .navLinkActive {
    cursor: default;
    color: $main-black;
    text-decoration: none;
  }

  @include respond-to(mobile) {
    gap: $size-s;
    font-size: $size-s;
  }

  @include respond-to(small-mobile) {
    font-size: $size-xs;
  }
}
