@use "../../../../styles";

.socials {
  display: flex;
  gap: styles.$size-s;

  .socialIcon {
    img {
      transition: styles.$link-transition;
      filter: styles.$social-icon-filter;
      font-size: styles.$size-xxxl;
    }
    img:hover {
      filter: styles.$social-icon-filter--hover !important;
    }
  }
  .sizeS {
    height: styles.$size-xl;
    width: styles.$size-xl;
  }

  .sizeL {
    height: styles.$size-xxxxl;
    width: styles.$size-xxxxl;
  }
}
