@import "../../../../styles/variables.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: $size-xxs;

  button {
    cursor: pointer;
    padding: $size-xxxxs;
    width: auto;
    align-self: start;
    min-width: calc($size-xxxxl * 1.5);
    border-radius: $border-radius-m;
    border: 1px solid $main-medium-light-gray;
  }
}
