@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.tileContainer {
  display: flex;
  align-items: center;
  padding: $size-xxl;
  gap: $size-xl;

  .textContainer {
    flex: 1;

    p {
      font-size: $size-m;
      line-height: $line-height-l;

      @include respond-to(medium-desktop) {
        font-size: $size-s;
      }

      @include respond-to(small-desktop) {
        font-size: inherit;
      }

      @include respond-to(tablet) {
        font-size: $size-s;
      }

      @include respond-to(mobile) {
        font-size: inherit;
      }
    }

    @include respond-to(small-desktop) {
      flex-basis: 50%;
    }

    @include respond-to(tablet) {
      flex-basis: 100%;
      padding: $size-s;
    }

    @include respond-to(mobile) {
      padding: $size-xxxs;
    }
  }
  .imageContainer {
    z-index: 1;
    position: relative;
    flex: 1;

    img {
      border-radius: $border-radius-m;
      overflow: hidden;
      width: 100%;
    }
    @include respond-to(small-desktop) {
      flex-basis: 30%;
    }

    @include respond-to(tablet) {
      margin: 0 $size-xs $size-l;
      flex-basis: 100%;
    }

    @include respond-to(mobile) {
      margin: 0 $size-xxxxs $size-s;
    }
  }

  .imageContainer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102%;
    height: 102%;
    background-color: $main-light-gray;
    border-radius: $border-radius-m;
    z-index: -1;
    box-shadow: 0 0 1rem $dark-shadow;
  }

  @include respond-to(medium-desktop) {
    padding: $size-l;
  }

  @include respond-to(medium-small-desktop) {
    padding: $size-m;
  }

  @include respond-to(small-desktop) {
    padding: $size-s;
  }

  @include respond-to(tablet) {
    flex-direction: column;
  }
}

.reversed {
  flex-direction: row-reverse;
  background-color: $main-light-gray;
  @include respond-to(tablet) {
    flex-direction: column;
  }
}
