@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.container {
  @extend .adminMainContainer;
  display: flex;
  flex-direction: column;
  gap: $size-tiny;
}
