#root {
  max-width: 100%;
}

// .maintenance {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.appContainer {
  min-height: 100vh;
}

.grayBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9e9e9e;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* for horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #474747;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
