@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.loginContainer {
  @extend .fullScreenContainer;

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 50vh;
    background-color: $main-white;
    padding: $size-xxl $size-xxxxl;
    box-shadow: 0 0rem 2rem $medium-shadow;
    border-radius: $border-radius-m;
    gap: $size-l;

    .loginButtonContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: $size-xxl;
      justify-content: center;
    }

    h3 {
      margin-bottom: $size-xxl;
      text-align: center;
    }
  }
}
