@use "../../../../styles";

.loginContainer {
  @include styles.fullScreenContainer;

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 50vh;
    background-color: styles.$main-white;
    padding: styles.$size-xxl styles.$size-xxxxl;
    box-shadow: styles.$card-shadow-primary;
    border-radius: styles.$border-radius-m;
    gap: styles.$size-l;

    .loginButtonContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: styles.$size-xxl;
      justify-content: center;
    }

    h3 {
      margin-bottom: styles.$size-xxl;
      text-align: center;
    }
  }
}
