$main-white: #dfdfdf;
$main-black: #202020;
$main-black--filter: invert(3%) sepia(7%) saturate(4%) hue-rotate(314deg)
  brightness(99%) contrast(85%);
$main-gray: #5e5e5e;
$gallery-paralax-background: #000000c2;
$action-blue: #0077ff;
$action-light-blue: #2289ff;
$action-green: #00cc00;
$action-light-green: #59ff59;
$cancel-red: #ff3d3d;
$error-red: #ff0000;
$main-medium-light-gray: #a7a7a7;
$main-light-gray: #d3d3d3;
$main-gray--filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(175deg)
  brightness(93%) contrast(91%);
$main-white--filter: invert(68%) sepia(61%) saturate(0%) hue-rotate(188deg)
  brightness(113%) contrast(101%);
$action-blue--filter: invert(28%) sepia(98%) saturate(2273%) hue-rotate(202deg)
  brightness(101%) contrast(105%);

$secondary-color--hover: #f5f5f5;
$background-primary: #e0e0e0;
$background-secondary: #d4d4d4;
$white-shadow: #d1d1d1ab;
$dark-shadow: #5555556e;
$medium-shadow: #a3a3a36e;
$overlay: #0000009d;
$mobileNav-transparent-white: #ffffffc7;
$main-gray-light: #a5a5a5;

// widths
$main-content-width: 1440px;

// breakpoints
$breakpoint-small-mobile: 320px;
$breakpoint-mobile: 480px;
$breakpoint-small-tablet: 600px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 1024px;
$breakpoint-medium-small-desktop: 1280px;
$breakpoint-medium-desktop: 1440px;
$breakpoint-large-desktop: 1920px;

// font and gap sizes
// $size-giant: calc(170rem / 16);
// $size-xxxxl: calc(135rem / 16);
// $size-xxxl: calc(110rem / 16);
// $size-xxl: calc(90rem / 16);
// $size-xl: calc(67rem / 16);
// $size-l: calc(40rem / 16);
// $size-m: calc(28rem / 16);
// $size-s: calc(22rem / 16);
// $size-xs: calc(16rem / 16);
// $size-xxs: calc(12rem / 16);
// $size-xxxs: calc(9rem / 16);
// $size-xxxxs: calc(6rem / 16);

$size-giant: 6.25rem;
$size-xxxxl: 3.815rem;
$size-xxxl: 3.052rem;
$size-xxl: 2.441rem;
$size-xl: 1.953rem;
$size-l: 1.563rem;
$size-m: 1.25rem;
$size-s: 1rem;
$size-xs: 0.8rem;
$size-xxs: 0.64rem;
$size-xxxs: 0.48rem;
$size-xxxxs: 0.32rem;
$size-tiny: 0.16rem;

// border radii
$border-radius-m: $size-xxxs;
$border-radius-s: $size-xxxxs;
$border-radius-xs: $size-tiny;

// line heights

$line-height-standard: 1.6;
$line-height-l: 1.8;

// properties

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// transitions
$link-transition: color 0.2s ease-in, filter 0.2s ease-in;
$link-transition-slow: color 0.5s ease-in, filter 0.5s ease-in;

$inset-soft-shadow: inset 0 0.04rem 0.3rem 0 $main-gray-light;

$basic-transition: all 0.2s ease-in;

$main-gray-light: #808080;

// elements
$parallax-height: 70vh;

:export {
  mainLightGray: $main-light-gray;
  mainWhite: $main-white;
  mainGray: $main-gray;
  actionBlue: $action-blue;
  sizeGiant: $size-giant;
  sizeXxxxl: $size-xxxxl;
  sizeXxl: $size-xxl;
  sizeXl: $size-xl;
  sizeS: $size-s;
  sizeM: $size-m;
  sizeL: $size-l;
  sizeXs: $size-xs;
  sizeXxs: $size-xxs;
  sizeXxxs: $size-xxxs;
  sizeXxxxs: $size-xxxxs;
  tabletWidth: $breakpoint-tablet;
  mobileWidth: $breakpoint-mobile;
  smallMobileWidth: $breakpoint-small-mobile;
  largeDesktopWidth: $breakpoint-large-desktop;
  mediumDesktopWidth: $breakpoint-medium-desktop;
  smallDesktopWidth: $breakpoint-small-desktop;
  mediumSmallDesktopWidth: $breakpoint-medium-small-desktop;
}
