$main-white: #dfdfdf;
$main-black: #202020;
$main-black--filter: invert(3%) sepia(7%) saturate(4%) hue-rotate(314deg)
  brightness(99%) contrast(85%);
$main-gray: #5e5e5e;
$gallery-background: #000000c2;
$action-blue: #0077ff;
$action-light-blue: #2289ff;
$main-medium-light-gray: #a7a7a7;
$main-light-gray: #d3d3d3;
$main-gray--filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(175deg)
  brightness(93%) contrast(91%);
$secondary-color--hover: #f5f5f5;
$background-primary: #e0e0e0;
$background-secondary: #d4d4d4;
$white-shadow: #d1d1d1ab;
$dark-shadow: #5555556e;
$medium-shadow: #a3a3a36e;

// widths
$main-content-width: 1440px;

// font and gap sizes
$size-xxxxl: calc(135rem / 16);
$size-xxxl: calc(110rem / 16);
$size-xxl: calc(90rem / 16);
$size-xl: calc(67rem / 16);
$size-l: calc(40rem / 16);
$size-m: calc(28rem / 16);
$size-s: calc(22rem / 16);
$size-xs: calc(16rem / 16);
$size-xxs: calc(12rem / 16);
$size-xxxs: calc(9rem / 16);
$size-xxxxs: calc(6rem / 16);

// border radii
$border-radius-m: calc(8rem / 16);
$border-radius-s: calc(4rem / 16);
$border-radius-xs: calc(2rem / 16);

// line heights

$line-height-standard: 1.5;
$line-height-l: 1.8;

// properties

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// transitions
$link-transition: all 0.2s ease-in;

// elements
$parallax-height: 70vh;

:export {
  mainLightGray: $main-light-gray;
  mainWhite: $main-white;
  mainGray: $main-gray;
  actionBlue: $action-blue;
  sizeXxxxl: $size-xxxxl;
  sizeXxxs: $size-xxxxs;
  sizeXl: $size-xl;
}
