@use "../../../../styles";

footer {
  box-shadow: styles.$card-shadow-primary;
  padding: styles.$size-l styles.$size-l;
  margin-top: auto;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerInfo {
      font-size: styles.$size-xs;
      color: styles.$text-tertiary;
    }

    @include styles.respond-to(small-tablet) {
      flex-direction: column;
      gap: styles.$size-s;
    }
  }
}
